@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(35deg, red, black, blue, rgb(111, 29, 161));

  color: white;
  overflow: hidden;
  background-size: 100%;
}
.videos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  overflow: auto;
  height: 100vh;
  gap: 50px;
  padding: 25px;
}
*::-webkit-scrollbar {
  background: transparent !important;
}
*::-webkit-scrollbar-thumb {
  background-color: #865dd2 !important;
  border-radius: 10px;
  width: 8px;
}

.detail-page {
  display: grid;

  grid-template-columns: auto 350px !important;
}
@media (max-width: 1000px) {
  .detail-page {
    display: grid;
    grid-template-columns: 1fr !important;
  }
}
.row {
  display: grid;
  grid-template-columns: 110px auto;
  align-items: center;
  gap: 20px;
}
.row div:nth-child(2) img {
  display: none;
}

.row p {
  font-size: 13px;
}

.wrapper {
  container-type: inline-size;
}

/* kartların kapsayıcısının boyutu 1300px altındayken resim daha küçük olsun */
@container (min-width: 1000px) {
  .row {
    grid-template-columns: 340px auto;
  }

  .row h4 {
    font-size: 20px;
  }

  .row p {
    font-size: 18px;
  }
}
