@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(35deg, red, black, blue, rgb(111, 29, 161));

  color: white;
  overflow: hidden;
  background-size: 100%;
}
.videos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  overflow: auto;
  height: 100vh;
  gap: 50px;
  padding: 25px;
}
.videos::-webkit-scrollbar {
  background: transparent !important;
  width: 8px;
  border-radius: 5px;
}
.videos::-webkit-scrollbar-thumb {
  background-color: rgb(210, 208, 72) !important;
}

.detail-page {
  display: grid;

  grid-template-columns: auto 350px !important;
}
@media (max-width: 1000px) {
  .detail-page {
    display: grid;
    grid-template-columns: 1fr !important;
  }
}
